:root {
  --bg-color: #050505;
  --panel-bg: rgba(20, 20, 20, 0.7);
  --text-primary: #e0e0e0;
  --text-dim: #6b7280;

  --neon-green: #00ff9d;
  --neon-red: #ff0055;
  --neon-blue: #00f3ff;
  --neon-yellow: #fcee0a;

  --font-display: var(--font-display), sans-serif;
  --font-mono: var(--font-mono), monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: var(--font-mono);
  overflow-x: hidden;
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(0, 243, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 243, 255, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--neon-blue);
}